<div class="coursera-scope">
  @if (!hasLoggedIn) {
  <section class="hero-section animate-fadein">
    <div class="hero-content">
      <p class="brand-badge">Enterprise Collaboration Platform</p>
      
      <h1 class="main-title">
        Master Your Project <br />
        Workflow with Q&A
      </h1>
      
      <p class="main-subtitle">
        The professional bridge between BAs and Developers. Build, track, and resolve 
        technical questions with a structured industry-standard lifecycle.
      </p>

      <div class="cta-group">
        <p-button label="Join for Free" size="large" (click)="login()" />
        <p-button label="View Methodology" size="large" severity="secondary" variant="outlined" />
      </div>
    </div>
  </section>
  }

  @else {
    @if(roles.includes('User')){
      <app-home-user [currentUser] = "currentUser"></app-home-user>
    }
  }
</div>